*{
    margin: 0px;
    padding: 0px;
}

.container{
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden; /* Prevent scrolling */
    height: 90vh; /* Full viewport height */

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;

}

.header-right{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-right: 50px;
}

.header-right > p{
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.header-left{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 20px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 15px;
}

.main-body{
    background: url(resources/common-bg.svg) no-repeat center;
    height: 600px;
    width: 1400px;
    overflow: hidden;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
    font-size: 70px;
    padding-bottom: 20px;
}

.details{
    width: 550px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    line-height: 2;
}

.main-btn{
    margin-top: 30px;
    padding: 20px 70px 20px 70px;
    background-color: rgb(120, 67, 233);
    background-color: rgb(249, 188, 82 );
    border-radius: 5px;
    border: none;
    font-size: large;
    color: white;
    font-weight: bolder;

    

}
