.container-daddy{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 100px;
    padding-left: 30px;
    width: 700px;
}

.container{
    height: 400px;
    width: 200px;
    display: grid;
    grid-template-columns: auto;
    height: auto;
    gap: 8px;
    box-shadow: 0px 0px 10px 2px rgb(138, 135, 135);
}


img{
    height: 200px;
    width: 200px;
    
}


.item-5 > img{
    height: 35px;
    width: 35px;
    border-radius: 100px;

}

.item-3 > p, .item-2 > p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}
.item-2 > p{
    font-weight: bold;
}

.item-3 > p{
    color: rgb(172, 164, 164);

}

button{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #1877F2;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}